name: Security Pipeline

on:
  push:
    branches: ["main"]
  pull_request:

permissions:
  security-events: write
  contents: read

jobs:
  security-scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t dvwa:latest .

      - name: Trivy scan
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: dvwa:latest
          severity: HIGH,CRITICAL
          exit-code: 0 
          format: table

      - name: Install Semgrep
        run: pip install semgrep


      - name: SAST Scan
        run: semgrep scan --config=p/owasp-top-ten --config=p/php --sarif > semgrep.sarif || true

      - name: Upload SARIF to GitHub
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: semgrep.sarif

      - name: SCA Scan
        working-directory: vulnerabilities/api
        run: semgrep scan --supply-chain --json > sca-report.json || true
