name: Semgrep SAST & SCA

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  semgrep:
    name: Run Semgrep SAST + SCA
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Composer
        run: |
          sudo apt-get update && sudo apt-get install -y composer

      - name: Semgrep
        run: |
          pip install semgrep


      - name: SAST
        run: semgrep --config=p/owasp-top-ten --config=p/php --sarif > semgrep.sarif || true

      - name: SARIF
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: semgrep.sarif

      - name: SCA
        working-directory: vulnerabilities/api
        run: semgrep supply-chain scan --json > sca-report.json || true
