name: Semgrep SAST & SCA

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  semgrep:
    name: Run Semgrep SAST + SCA
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Composer
        run: |
          sudo apt-get update && sudo apt-get install -y composer

      - name: Semgrep
        run: |
          pip install semgrep


      - name: SAST 
        continue-on-error: true
        run: |
          semgrep scan --config=p/owasp-top-ten --config=p/php --error

      - name: SCA
        continue-on-error: true
        run: |
          semgrep supply-chain scan --json > sca-report.json

      - name: Debug SCA
        run: semgrep supply-chain scan


      - name: Upload SCA report
        uses: actions/upload-artifact@v4
        with:
          name: sca-report
          path: sca-report.json
